nav {
  height: 10%;
  position: fixed;
  top: 0;
  transition: all 1s ease-out;
  width: 100%;
  ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    width: 50%;
    li {
      border-bottom: 1px solid rgba(270, 270, 270, 0);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      &:hover {
        border-bottom: 1px solid $highlight;
        transition: all 1s ease;
      }
    }
  }
}

.nav-up {
  border-bottom: 1px solid rgba(270, 270, 270, 0);
}

.nav-down {
  border-bottom: 1px solid rgba(270, 270, 270, 0.2);
}