@import '_variables';
@import '_nav';

html {
  height:180vh;
}

body {
  background-color: $background;
  border: 0;
  color: $text-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
}
